* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open sans", serif;
	font-size: 1.4rem;
	color: #4A4A4A;
}

h3 {
	font-family: "Merriweather", serif;
}

h3 {
	color: #000;
	font-size: 2.1rem;
	margin: 1em 0 0;
}

h3 > a {
	color: inherit;
	text-decoration: none;
}

h3:first-child {
	margin-top: 0;
}

p {
	line-height: 1.75;
}

a {
	transition: .3s color;
}

a:hover {
	color: #0a91bc;
}