* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #e7e7e7;
	color: #4a4a4a;
	font-family: "Open sans", serif;
	font-size: 1.4rem;
	line-height: 1.6;
}

h1,
h2 {
	color: #000;
}

h1,
h2,
h3,
h4 {
	color: #000;
	font-family: "Bree Serif", serif;
	font-weight: 400;
	line-height: 1.15;
}

h1 {
	font-size: 3rem;

}

h2 {
	font-size: 2.7rem;
}

h3 {
	font-size: 2.1rem;
}

h2 > a {
	color: inherit;
	text-decoration: none;
}

h2:first-child,
h4:first-child {
	margin-top: 0;
}

p {
	line-height: 1.75;
}

a {
	color: #2bb2dd;
	text-decoration: none;
	transition: .3s color;
}

a:hover {
	color: #0a91bc;
}

input {
	font-family: "Open Sans", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}