.menu {
    list-style: none;
    padding-left: 0;
}

.menu__item > a {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 1.6rem;
    text-decoration: none;
    transition: .3s;
}

.menu__item > a:hover {
    color: #2bb2dd;
}

.menu__item > a.is-active {
    background-color: #2bb2dd !important;
    border-bottom: 3px solid #2bb2dd;
    border-radius: 2px;
    color: #fff !important;
}

.menu--bar {
    display: flex;
}

.menu--bar .menu__item > a {
    padding: .8rem 1.6rem;
}