.button {
    background-image: none;
    border: 1px solid #2bb2dd;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0;
    padding: .8rem 1.6rem;
    text-align: center;
    transition: .3s;
    vertical-align: middle;
    white-space: nowrap;
}

.button--primary {
    background-color: #2bb2dd;
	color: #fff;
}

.button--primary:hover {
    filter: brightness(85%);
}