.brand {
	display: block;
	line-height: 1.15;
}

.brand--main-header {
}

.brand__site-name {
	color: #000;
	font-family: "Oswald", serif;
	font-size: 4.8rem;
	font-weight: 700;
}

.brand__site-slogan {
	color: #9B9B9B;
	font-size: 1.2rem;
	text-transform: uppercase;
}