/* Layout */
.layout-container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1170px;
}

/* Grid */
.row {
	display: flex;
	flex-wrap: wrap;
}

.row {
	margin-right: -16px;
	margin-left: -16px;
}

.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-9,
.col-sm-12,
.col-md-2,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10 {
	width: 100%;
}

@media (min-width: 576px) {
	.col-sm-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		flex: 0 0 33.333334%;
		max-width: 33.333334%;
	}

	.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-8 {
		flex: 0 0 66.66666666666667%;
		max-width: 66.66666666666667%;
	}

	.col-sm-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-sm-3,
	.col-sm-4,
	.col-sm-6,
	.col-sm-8,
	.col-sm-9,
	.col-sm-12 {
		padding-right: 16px !important;
		padding-left: 16px !important;
	}
}

@media (min-width: 992px) {
	.col-md-2 {
		flex: 0 0 16.666667%;
	}

	.col-md-4 {
		flex: 0 0 33.333334%;
		max-width: 33.333334%;
	}

	.col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-8 {
		flex: 0 0 66.66666666666667%;
		max-width: 66.66666666666667%;
	}

	.col-md-10 {
		flex: 0 0 83.333333%;
	}

	.col-md-offset-2 {
		margin-left: 16.666667%;
	}
}

@media (min-width: 992px) {
	.col-md-2,
	.col-md-4,
	.col-md-6,
	.col-md-10 {
		padding-right: 16px !important;
		padding-left: 16px !important;
	}
}

