.main-footer {
	background-color: #222;
	color:  #fff;
	padding: 12px 32px;
}

.main-footer__inner > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-footer__social {
	display: flex;
	list-style: none;
}

.main-footer__social > li {
	padding: 0 4px;
}

.main-footer__social a {
	border: 1px solid #2bb2dd;
	border-radius: 100%;
	padding: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: .3s;
}

.main-footer__social a:hover {
	color: #fff;
}

.main-footer__social .twitter:hover a {
    background: #00acee;
    border: 1px solid #00acee;
}

.main-footer__social .google:hover a {
    background: #dd4c39;
    border: 1px solid #dd4c39;
}

.main-footer__social .facebook:hover a {
    background: #3b5998;
    border: 1px solid #3b5998;
}

.main-footer__social .linkedin:hover a {
    background: #069;
    border: 1px solid #069;
}