.article .article__submitted-by {
	color: #9B9B9B;
	font-size: 1.1rem;
	font-weight: 700;
	padding-bottom: 1.6rem;
	text-transform: uppercase;
}

.article--full .article__info {
	display: flex;
}

.article--full .article__info > div {
	color: #9B9B9B;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 2.0em;
    padding-right: 1.6rem;
    text-transform: uppercase;
}