.card {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card__block {
	padding: 1.6rem;
}

.card__footer {
	padding: .8rem 1.6rem;
}