.card {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card__image img {
	max-width: 100%;
	height: auto;
}

/* TODO: Maybe better .masonry-layout .node__category to make it more general */
.card__category {
    font-weight: bold;
    text-transform: uppercase;
}

.card__block {
	padding: 1.6rem;
}

.card__footer {
	padding: 1.6rem;
}